.thumbnail{
    width: 200px;
    height: 200px;
}
.page{
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
}
.holder{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.page2{
    height: 100vh;
    text-align: center;
}